<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qiup.programmeenquiry">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:logo="@drawable/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MyContext">
        <activity android:name="com.qiup.programmeenquiry.CaptureData">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http"
                    android:host="qiup.edu.my"
                    android:pathPrefix="/study/programmes" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.qiup.programmeenquiry.FilterProgrammes"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Programmes Enquiry" />

        <activity
            android:name="com.qiup.programmeenquiry.ResultsOfFiltering"
            android:label="Eligibility Result" />

        <activity
            android:name="com.qiup.programmeenquiry.InterestProgramme"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Programmes Enquiry">
        </activity>
    </application>

</manifest>